

.featured-headline{
    text-align: center;
    padding: 1rem;

    &__title {
        h1 {
            font-size: 1.5rem;

            @include Medium {
                font-size: 2rem;
            }
        }
    }
    &__subtitle {
        h2 {
            font-size: 1.2rem;

            @include Medium {
                font-size: 1.75rem;
            }
        }
    }
}

.featured {
    background-color: pink;
    width: 100vw;
    min-height: 300px;
    height: min-content;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;

    grid-template-columns:
        1fr;
    grid-template-areas:
        "featured-large"
        "featured-medium"
        "featured-small-one"
        "featured-small-two";

    @include Small {
        width: 90vw;
        max-width: 1200px;
        height: 300px;
        background-color: orange;
        overflow: hidden;
        grid-template-columns:
            2fr 1fr 1fr;
        grid-template-areas:
            "featured-large featured-medium    featured-medium"
            "featured-large featured-small-one featured-small-two"
        }

    @include Medium {
        height: 400px;
    }

    @include veryLarge {
        max-width: 1500px;
        height: 600px;
    }

    &__large {
        background-color: lightblue;
        height: 300px;
        width: 100%;
        grid-area: featured-large;
        position: relative;
        grid-gap: 5px;

        @include Small {
            height: 300px;
        }

        @include Medium {
            height: 400px;
        }

        @include veryLarge {
            height: 600px;
        }
    }

    &__medium {
        background-color: green;
        height: 200px;
        grid-area: featured-medium;
        position: relative;

        @include Small {
            height: 150px;
        }

        @include Medium {
            height: 200px;
        }

        @include veryLarge {
            height: 300px;
        }
    }

    &__small--one {
        background-color: purple;
        height: 200px;
        grid-area: featured-small-one;
        position: relative;

        @include Small {
            height: 145px;
            font-size: 12px;
        }

        @include Medium {
            height: 195px;
            font-size: 16px;
        }

        @include veryLarge {
            height: 295px;
        }
    }

    &__small--two {
        background-color: gray;
        height: 200px;
        grid-area: featured-small-two;
        position: relative;

        @include Small {
            height: 145px;
            font-size: 12px;
        }

        @include Medium {
            height: 195px;
            font-size: 16px;
        }

        @include veryLarge {
            height: 295px;
        }
    }

    &__prose {
        position: absolute;
        color: white;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);

        &--category {
            width: max-content;
            padding: 5px 10px;
            background-color: red;
        }

        &--title {
            background-color: transparent;
            color: white;
            font-weight: 700;
            padding: 5px 10px;

            @include Medium {
                padding: 10px 0 0;
                text-align: center;
            }
        }

        &--excerpt {
            display: none;

            @include Medium {
                display: block;
                padding: 10px 20px;
                font-weight: 700;
            }
        }
    }
}

.img-wrapper {

    img {
        object-fit: cover;
        object-position: 95% 55%;
        width: 100%;
        height: 100%;
    }
}