.meta-info {
    position: relative;
    top: 3px;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: 1px;
    margin-bottom: .5rem;
    background-color: #eee;

    p:first-child {
        margin-bottom: 5px;
    }

    p + p {
        position: relative;
        bottom: 2px;
    }
}