.topic-five-headline {
    text-align: center;
    padding: 1rem;
    padding-top: 5rem;

    &__title {
        h1 {
            font-size: 1.5rem;

            @include Medium {
                font-size: 2rem;
            }
        }
    }
    &__subtitle {
        h2 {
            font-size: 1.2rem;

            @include Medium {
                font-size: 1.75rem;
            }
        }
    }
}
.topic-five-banner {
    padding-top: .8rem;
    text-align: left;

    h5 {
        color: white;
        background-color: green;
        display: inline-block;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__line {
        border-top: 2px solid green;
    }

    @include Small {
        width: 90vw;
        max-width: 1200px;
        margin: 0 auto;
    }

    @include veryLarge {
        max-width: 1500px;
    }
}

.topic-five {
    background-color: lightblue;
    width: 100vw;
    height: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns:
        1fr;
    grid-template-areas:
        "topic-five__small1r"
        "topic-five__small1l"
        "topic-five__small2r"
        "topic-five__small2l"
        "topic-five__small3r"
        "topic-five__small3l"
        "topic-five__small4r"
        "topic-five__small4l";

    @include Medium {
        width: 90vw;
        max-width: 1200px;
        background-color: orange;
        grid-template-columns:
            1fr 1fr;
        grid-template-areas:
            "topic-five__small1l topic-five__small1r"
            "topic-five__small2l topic-five__small2r"
            "topic-five__small3l topic-five__small3r"
            "topic-five__small4l topic-five__small4r";            
        }

    @include Medium {
        max-width: 1200px;
    }

    @include veryLarge {
        max-width: 1500px;
    }

    &__small1r {
        background-color: lightgreen;
        height: 100px;
        grid-area: topic-five__small1r;

        @include Small {
            height: 200px;
        }
    }

    &__small1l {
        background-color: lightsalmon;
        height: 100px;
        grid-area: topic-five__small1l;

        @include Small {
            height: 200px;
        }
    }

    &__small2r {
        background-color: lightgray;
        height: 100px;
        grid-area: topic-five__small2r;

        @include Small {
            height: 200px;
        }
    }

    &__small2l {
        background-color: lightseagreen;
        height: 100px;
        grid-area: topic-five__small2l;

        @include Small {
            height: 200px;
        }
    }

    &__small3r {
        background-color: orangered;
        height: 100px;
        grid-area: topic-five__small3r;

        @include Small {
            height: 200px;
        }
    }

    &__small3l {
        background-color: steelblue;
        height: 100px;
        grid-area: topic-five__small3l;

        @include Small {
            height: 200px;
        }
    }

    &__small4r {
        background-color: chartreuse;
        height: 100px;
        grid-area: topic-five__small4r;

        @include Small {
            height: 200px;
        }
    }

    &__small4l {
        background-color: red;
        height: 100px;
        grid-area: topic-five__small4l;

        @include Small {
            height: 200px;
        }
    }
}

.space {
    height: 300px;
}