
.topic-one-headline {
    text-align: center;
    padding: 1rem;
    padding-top: 5rem;

    &__title {
        h1 {
            font-size: 1.5rem;

            @include Medium {
                font-size: 2rem;
            }
        }
    }
    &__subtitle {
        h2 {
            font-size: 1.2rem;

            @include Medium {
                font-size: 1.75rem;
            }
        }
    }
}
.topic-one-banner {
    padding-top: .8rem;
    text-align: left;

    h5 {
        color: white;
        background-color: green;
        display: inline-block;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 400;
    }

    &__line {
        border-top: 2px solid green;
    }

    @include Small {
        width: 90vw;
        max-width: 1200px;
        margin: 0 auto;
    }

    @include veryLarge {
        max-width: 1500px;
    }
}

.topic-one {
    background-color: pink;
    width: 100vw;
    height: min-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns:
        1fr;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";
    grid-gap: 5px;

    @include Small {
        width: 90vw;
        max-width: 1200px;
        background-color: orange;
        grid-template-columns:
            1fr 1fr;
        grid-template-areas:
            "one two"
            "three four"
            "five six";
        }

    @include Medium {
        max-width: 1200px;
    }

    @include veryLarge {
        max-width: 1500px;
    }

    &__medium {
        background-color: lightblue;
        height: 300px;

        @include Medium {
            height: 400px;
        }

        &.one {
            background-color: chartreuse;
            grid-area: one;
            position: relative;
        }

        &.two {
            background-color: pink;
            grid-area: two;
            position: relative
        }
    }

    &__small {
        background-color: lightgreen;
        height: 150px;

        &.one {
            background-color: lightgreengit;
            grid-area: three;
            position: relative;
        }
        &.two {
            background-color: skyblue;
            grid-area: four;
            position: relative;
        }
        &.three {
            background-color: purple;
            grid-area: five;
            position: relative;
        }
        &.four {
            background-color: green;
            grid-area: six;
            position: relative;
        }
    }

    &__prose {
        position: absolute;
        color: white;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.5);
        
        &--category {
            width: max-content;
            padding: 5px 10px;
            background-color: red;
        }

        &--title {
            background-color: transparent;
            color: white;
            font-weight: 700;
            padding: 5px 10px;

            @include Medium {
                padding: 10px 0 0;
                text-align: center;
            }
        
        }

        &--excerpt {
            display: none;

            @include Medium {
                display: block;
                padding: 10px 20px;
                font-weight: 700;
            }
        }
    }
}

.img-wrapper {
    height: 100%;
    width: 100%;
img {
    object-fit: cover;
    height: 100%;
    }
}
