.img-wrapper {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;

    img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }
}

.alignleft {
    float: left;
    margin: 1rem 1rem 1rem 0;

}

.alignright {
    float: right; 
    margin: 1rem;
}

.wp-caption-text {
    font-size: 12px;
}